# django-opensearch
# MANIFEST.in


prune tests*
recursive-include opensearch *.po
recursive-include opensearch *.mo
include opensearch/templates/opensearch/opensearch.xml
include opensearch/templates/opensearch/templatetags/opensearch_meta.html
